doctype html
html
  head
    title= title

    link(rel='stylesheet', href='/stylesheets/base.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')


    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/jquery-2.0.3.min.js")

    meta(name="viewport", content="width=device-width, initial-scale=1")

  body
    block content