//
   Created by xavier on 11/05/14.
extends layout
block content
    div.container
        div.col-sm-6.col-sm-offset-3
            div.jumbotron
                div.text-center
                    if message.length > 0
                        div.alert.alert-danger
                            p= message

                h2.form-signin-heading
                    span.fa.fa-sign-in Registro de usuario
                form(action="/signup", method="post")
                        div.formGroup
                            label user name:
                            input.form-control(type="text", name="username", placeholder="user name")
                        div.formGroup
                            label password:
                            input.form-control(type="password", name="password", placeholder="password")
                        br
                        div
                            label
                                input(type="checkbox", value="remember-me")
                                |  recordar contraseña

                        br
                        br
                        input.btn.btn-warning.btn-lg(type="submit", value="registro")

                hr
                p Ya dispone de una cuenta?
                    a(href='/login')   Login
                p Ir a la página principal
                    a(href='/')   Home